## Foreword

you must begin at this page: [3. An Informal Introduction to Python — Python 3.5.4rc1 documentation](https://docs.python.org/3.5/tutorial/introduction.html)

python is a language, like nature language, built by basic elements. English is built by letters, Python is built by letters, numbers and symbols.

type|letter|number|symbol|
---|---|---|---
Function|replace/refer to|calculation/index|处理
e.g.|variy/def|+/[]|1/1/[-1]

mix them to be a word, then to be sentence, and then a paragraph. a single line of code can translate to a pargraph of natule language. 

## numbers and symbols = calculation
e.g.

In [1]:
1 + 1 #addition

2

In [2]:
2 ** 7 #square

128

## number = letter   = replace (varible)
e.g.

In [3]:
girl = 10
boy = 20
girl + boy

30

## ' ' and everything in it = string
e.g.

In [4]:
l = 'hello world'
print (s)

hello world

In [5]:
n = '1'
print (n)

1

In [6]:
s = '*'
print (s)

*

string is like word, same as number , it can be deal with.

## letter [ ] : -  ' 'number = index 
e.g.

In [11]:
w = 'python'
w[0] #the first letter of 'python'

'p'

In [12]:
w[:2]#the first letter to the second letters of 'python'

'py'

In [13]:
w[-1]# the last letter of 'python'

'n'

In [14]:
w[:-2]# the first letter to the last two letters of 'python'

'pyth'

## The built-in function len() returns the length of a string:
e.g.

In [16]:
s = 'ninwoebnihgiyi'
len(s)

14

## s = [  ,  ] is list
e.g.

In [18]:
s = [1,2,3,4]
s

[1, 2, 3, 4]

In [19]:
s[0]

1

In [20]:
s[2]

3

In [21]:
s[2:5]

[3, 4]

## begin programing

In [4]:
a, b =0, 1
while b < 1000:
    print (b, end = ',')
    a, b = b, a+b

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

## print ()
- writes the value of the argument(s) it is given.
- multiple arguments, floating point quantities, strings

In [6]:
i = 256*256
print('the value of i is', i)

the value of i is 65536

## .

## = 0  = 1